<div class="row-fluid marketing" ng-repeat="etape in etapes">

  <div class="etape">

    <div class="span4">
      <h4>{{ etape.nom }}</h4>
      <p>{{ etape.quartier }} - {{ etape.adresse }}</p>
      <p>Ligne {{ etape.transport }}</p>
      <div class="map">
        <div id="mini-map_0{{ etape.id }}" class="gmap-mini"></div>
      </div>
    </div>

    <div class="span8">

      <ul ng-repeat="description in etape.descriptions">
          <li class="small">{{ description.id }} : {{ description.parag }}</li>
      </ul>
      
      <img ng-src="/server/data/etapes_img/{{ etape.img }}" class="img-polaroid">

    </div>

  </div>

</div>