<div class="row-fluid marketing" ng-repeat="etape in etapes">

  <div class="etape">

    <div class="span4">
      <h4>{{ etape.nom }}</h4>
      <p>{{ etape.quartier }} - {{ etape.adresse }}</p>
      <p>Ligne {{ etape.transport.ligne }}</p>
      <div class="map">
        <div id="mini-map_0{{ etape.id }}" class="gmap-mini"></div>
      </div>
      <ul>
        <li ng-repeat="tag in etape.tags">
          {{ tag }}
        </li>
      </ul>
    </div>

    <div class="span8">
      <ul>
        <li ng-repeat="tag in etape.tags">{{ tag }}</li>
      </ul>
      <ul>
        <p ng-repeat="description in etape.descriptions">
          {{ description.parag }}
        </p>
      </ul>
      <img ng-src="/server/data/etapes_img/{{ etape.img }}" class="img-polaroid">

    </div>

  </div>

</div>